---
import ButtonProps from "../shared/ButtonProps.astro";
import Image from "astro/components/Image.astro";
import SelfImg from "../../images/self.jpg";
// import DynamicAboutCTA from "./shared/DynamicAboutCta";

export interface Props {
  title: string;
  paragraph: string;
  img: string;
}

const { title, paragraph, img } = Astro.props as Props;
---

<div class="bg- flex justify-center bg-">
  <div id="" class="max-w-[1100px]">
    <div id="PROBLEM-SOLVING-wrapper" class="py-">
      <div id="container" class="bg-test">
        <div id="flex-TEST" class="bg- flex 2xl:flex-row flex-col-reverse">
          <div id="sq1" class="lg:mt-5">
            <div id="sq1-container" class="lg:mt-5">
              <img
                id="self-img"
                src={img}
                alt=""
                class="border border-black rounded"
              />
              <!-- <DynamicAboutCTA isLoggedIn={true} username="Address Key Problem" /> -->
              <!-- <DynamicAboutCTA isLoggedIn={false} username="test" /> -->
            </div>
          </div>
          <div class="bg- mt-5 pt-5">
            <div id="sq2" class="lg:mx-2 lg:my-5 lg:px-2">
              <div id="paragraph-container " class="lg:pt-5">
                <h2 class="font-bold text-2xl">{title}</h2>

                <div id="paragraph-content" class="text-3xl pt-">
                  <p>
                    {paragraph}
                  </p>
                </div>
              </div>
              <!-- <ButtonProps btn1="view case study" btn1Link="/" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
