---
import ButtonProps from "../shared/ButtonProps.astro";
import Image from "astro/components/Image.astro";
import SelfImg from "../../images/self.jpg";
// import DynamicAboutCTA from "./shared/DynamicAboutCta";

export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  paragraph3: string;
  paragraph4: string;
  img: string;
}

const { title, paragraph1, paragraph2, paragraph3, paragraph4, img } =
  Astro.props as Props;
---

<div class="flex justify-center bg-">
  <div id="" class="max-w-[1100px]">
    <div id="PROBLEM-SOLVING-wrapper" class="py-">
      <div id="container" class="bg-test">
        <div id="flex-TEST" class="flex lg:flex-row flex-col">
          <div id="sq1" class="mt-5">
            <div id="sq1-container" class="mt-5">
              <img
                id="self-img"
                src={img}
                alt=""
                class="border border-websiteFocus"
              />
              <!-- <DynamicAboutCTA isLoggedIn={true} username="Address Key Problem" /> -->
              <!-- <DynamicAboutCTA isLoggedIn={false} username="test" /> -->
            </div>
          </div>
          <div class="text- pt-5">
            <div id="sq2" class="bg- pt-5 mt-5 bg-">
              <div
                id="paragraph-container TEST1"
                class="bg- flex flex-col space-y-4 p-5"
              >
                <h2 class="font-bold text-2xl">{title}</h2>

                <div id="paragraph-content" class="text-3xl">
                  <p>
                    {paragraph1}
                  </p>
                  <br />
                  <p>
                    {paragraph2}
                  </p>
                </div>

                <!-- <p class="">
                  {paragraph3}
                </p>
                <p>
                  {paragraph4}
                </p> -->
              </div>
              <!-- <ButtonProps btn1="view case study" btn1Link="/" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
