---
import ButtonProps from "./ButtonProps.astro";
import { PiFolderOpenBold, PiGithubLogoDuotone } from "react-icons/pi";

const frontmatter = Astro.props;
const { title, paragraph, image, alt, url } = frontmatter;
---

<!-- TODO: add pricing to packages (web design templates) v  --><!-- PORTFIOLIO/ PACKAGES --><!-- SMOOTH TRANSITION BETWEEN KITS, PUP TO CARNIVORE, TO ALPHA  -->
<div id="CARD" class="text- black py-5 opacity-80">
  <!-- <div class="bg- pt-1 pr-l">
    <h3 class="text-xl">{no}.</h3>
  </div> -->

  <div class="">
    <div id="sq1" class="bg-websiteFocus text-neutralBase1 2xl:col-span-4">
      <!-- <span class="text-sm">01. </span> -->
      <h3 class="text-2xl pb-1 pl-2 pt-2">{title}</h3>
      <a href={url}>
        <img
          src={image}
          class="opacity-90 hover:opacity-100 duration-500 mt-1 mr-5 p- rounded border drop-shadow-xl hover:drop-shadow-3xl"
          alt={alt}
        />
      </a>
      <div id="container" class="p-3 bg- border border- black">
        <p class="text-md">
          {paragraph}
        </p>

        <a href={url}>
          <div class="text-2xl flex items-center mt-2 space-x-2">
            <button
              class="text-xl underline opacity-100 hover:opacity-60 duration-500 mr-3"
              >visit template</button
            >
            <PiFolderOpenBold />
            <PiGithubLogoDuotone />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
