---
const frontmatter = Astro.props;
const {
  creativeProjectTitle,
  creativeProjectDesc,
  creativeProjectMainImg,
  creativeTest,
  alt,
  url,
} = frontmatter;
---

<div
  id="sq"
  class="w-[72vw] max-w-[660px] shrink-0 border-r border-gray-500 px-8 first:pl-0 md:w-[520px] lg:w-[620px]"
>
  <a href={url}>
    <!-- <div>{websiteNumber}.</div> -->
    <h3
      class="mb-4 max-w-full text-2xl font-semibold leading-[1.05] tracking-[-0.04em] md:text-3xl"
    >
      {creativeProjectDesc}
    </h3>
    <img
      src={creativeProjectMainImg}
      alt={alt}
      class="border-2 border-black mb-6 aspect-[1.1/1] w-full rounded-xl object-cover"
    />

    <h2 class="text-lg font-bold uppercase tracking-wide">
      {creativeProjectTitle}
    </h2>
    <p class="mt-2 text-sm leading-snug text-neutralBase2">
      {creativeTest}----story tags
    </p>
  </a>
</div>
