---
const frontmatter = Astro.props;
const {
  creativeProjectTitle,
  creativeProjectMainImg,
  alt,
  url,
  testItem1,
  websiteNumber,
  // testItem3,
  // testItem4,
} = frontmatter;
---

<div id="sq" class="opacity-70 hover:opacity-100 px-5 mt-5 pt-3">
  <a href={url}>
    <!-- <div>{websiteNumber}.</div> -->
    <h2 class="ml-3 text-3xl">{creativeProjectTitle}</h2>
    <img
      src={creativeProjectMainImg}
      class="drop-shadow-xl rounded border-2 border-black my-1"
      alt={alt}
    />

    <div id="post-excerpt" class="bg- text- black bg- mb-5 pb-3 drop-shadow-md">
      <div class="pl-3 ml-1">
        <!-- <p class="opacity-80 text-lg">{testItem1}</p> -->
        <!-- <button class="text-primaryBtn underline opacity-70 hover:opacity-100"
          >read more...</button
        > -->
      </div>
    </div>
  </a>
</div>
