---
import creativeProjectAbout from "../shared/creativeProjectAbout.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import ProjectCard from "../shared/ProjectCard.astro";
const allWorkProjects = await Astro.glob("./workProjects/*.md");
---

<section id="work" class="h-">
  <CenterPageBanner BannerTitle="Work" />

  <div id="web-dev-intro1">
    <creativeProjectAbout
      title="RQ"
      paragraph1="Pain Points to Address- You’re struggling to get [desirable result] because you don't have [missing piece]"
      paragraph2="You have [example], but you aren't [achieving this result]"
      paragraph3="How does this make them feel?"
      paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt accusantindae quo adipisci dignissimos! Pariatur, suscipit exercitationem."
      img="https://images.pexels.com/photos/3585001/pexels-photo-3585001.jpeg?_gl=1*sm8kor*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzQxMzczNTMkbzQyJGcxJHQxNzc0MTM3MzY4JGo0NSRsMCRoMA.."
    ></creativeProjectAbout>
  </div>
  <div id="web-dev-intro2" class="bg-">
    <!-- TODO: NEW AIDA vv -->
    <creativeProjectAbout
      title="HoveyRoofing"
      paragraph1="interestParagraph"
      paragraph2="interestParagraph"
      paragraph3="desireParagraph"
      paragraph4="desireParagraph"
      img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
    ></creativeProjectAbout>
  </div>

  <section id="whats-included" class="bg-">
    <div id="web-dev-intro1" class="bg-">
      <creativeProjectAbout
        title="The Indoor Jungle Project"
        paragraph1="Most small business websites don’t fail because of effort— they fail because they’re built on shaky ground."
        paragraph2="Slow load times. Clunky templates. Hours spent tweaking things that never quite feel right."
        paragraph3="Laughing Coyote is built to fix that—clean, fast, and intentional from the start."
        paragraph4="click on CTA link to see packages, and bring your business online"
        img="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
      ></creativeProjectAbout>
    </div>
  </section>
  <!-- TODO: ADD TEMPLATE PACKAGES SECTION (current writing pg) -->
  <section id="creative-works-ANCHOR" class="bg- border-b border- lg:px-5 mt-5">
    <CenterPageBanner BannerTitle="Works" />
    <div id="grid" class="grid md:grid-cols-2 grid-cols-1 md:p-5">
      {
        allWorkProjects.map((work) => (
          <ProjectCard
            title={work.frontmatter.title}
            image={work.frontmatter.image.url}
            alt={work.frontmatter.image.alt}
            url={work.url}
            creativeProjectAbout1={work.frontmatter.creativeProjectAbout1}
            websiteNumber={work.frontmatter.websiteNumber}
          />
        ))
      }
    </div>
  </section>
  <p>
    <a href="/creative-works">cta to portfolio</a>
  </p>
</section>
