---
import RQTestimonial from "../components/sections/RQTestimonial.astro";
import AboutContent from "../components/shared/AboutContent.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import PkgCard from "../components/shared/PkgCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
const websitePackages = await Astro.glob("./websitePackages/*.md");
import DynamicGrid from "../components/shared/DynamicGrid.astro";
const items6 = [
  {
    title: "Built From Scratch",
    body: "Most website builders box you into layouts that almost work—but never fully fit your business. Your site is designed and developed from the ground up, so it actually reflects what you do and who you’re for.",
  },
  {
    title: "Fast Enough to Keep People Around",
    body: "Most website builders box you into layouts that almost work—but never fully fit your business. Your site is designed and developed from the ground up, so it actually reflects what you do and who you’re for.",
  },
  {
    title: "Fast Enough to Keep People Around",
    body: "If your site drags, people leave. Simple as that. I build with Astro + React so your site loads fast, feels smooth, and doesn’t lose visitors before they even read a headline.",
  },
  {
    title: "Designed for Real People (Not Just Screens)",
    body: "Your customers are on their phones, tablets, laptops—sometimes all in the same day. Your site is built to look sharp and work everywhere, not just on a designer’s monitor.",
  },
  {
    title: "Built to Be Found",
    body: "A good-looking site means nothing if it’s buried. I structure everything with SEO best practices from the start, giving your site a real chance to show up on Google.",
  },
  {
    title: "Easy to Update (When You Need It) ",
    body: "Want to change text, swap images, or add blog posts without breaking anything? I can integrate a simple CMS so you stay in control—without touching code.",
  },
];
---

<MainLayout>
  <section id="web-dev-template-pkgs" class="pt-5">
    <CenterPageBanner BannerTitle="web development" />
    <div
      id="template-pkgs-grid"
      class="bg- lg:px-5 grid lg:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1 gap-5 mt-5 pt-5 bg-"
    >
      {
        websitePackages.map((caseStudy) => (
          <PkgCard
            no={caseStudy.frontmatter.no}
            title={caseStudy.frontmatter.title}
            paragraph={caseStudy.frontmatter.paragraph}
            image={caseStudy.frontmatter.image.url}
            alt={caseStudy.frontmatter.image.alt}
            url={caseStudy.url}
            testItem1={caseStudy.frontmatter.testItem1}
            language={caseStudy.frontmatter.language}
            backend={caseStudy.frontmatter.backend}
          />
        ))
      }
    </div>
    <!-- <DynamicGrid items={items6} minWidth={240} columns={3} /> -->
    <!-- <RQTestimonial /> -->
  </section>
  <p>
    <a href="/creative-works">cta to portfolio</a>
  </p>
</MainLayout>
