---
import ButtonProps from "./shared/ButtonProps.astro";
import Dynamic from "./Dynamic.jsx";
import Image from "astro/components/Image.astro";
import TestImg from "../images/BuildAuthoritySelf.jpg";

export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  paragraph3: string;
  paragraph4: string;
}

const { title, paragraph1, paragraph2, paragraph3, paragraph4 } =
  Astro.props as Props;
---

<div id="" class="bg- py-5 my-5">
  <div id="PROBLEM-SOLVING-wrapper" class="py-5">
    <div id="container" class="bg-">
      <div id="about-me-grid" class="grid md:grid-cols-2 grid-cols-1 gap-1">
        <div id="sq1" class="flex md:justify-end justify-center">
          <div
            id="sq1-container"
            class="2xl:w-1/2 w-full flex lg:justify-end justify-center items-end"
          >
            <Dynamic isLoggedIn={false} username="Address Key Problem" />
          </div>
        </div>
        <div id="sq2" class="bg- row-span-2">
          <!-- right img v -->
          <Image
            id="self-img"
            src={TestImg}
            alt=""
            class="sq-styles bg- lg:p-5 p-2 2xl:w-[450px] my-2 sq-styles"
          />
        </div>

        <div id="sq3" class="bg- flex 2xl:justify-end">
          <div class="2xl:w-1/2 w-full md:pl-1 pl-3 md:pr-3 pr-1 pt-5">
            <h2 class="font-bold text-3xl pb-2">{title}</h2>
            <p>
              {paragraph1}<p>
                <p>
                  {paragraph2}
                </p>
                <p class="py-1 mb-2">
                  {paragraph3}
                </p>
                <p>
                  {paragraph4}
                </p>
              </p>

              <ButtonProps
                btn1="view LC templates"
                btn1Link="/#view-AboutSection2"
              />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
