---
export interface Props {
  attentionHeading: string;
  interestParagraph: string;
  desireParagraph: string;
  CTAButton: string;
  websiteUrl?: string;
  CTAbtnLink: string;
}

const {
  attentionHeading,
  interestParagraph,
  desireParagraph,
  CTAButton,
  CTAbtnLink,
} = Astro.props as Props;
---

<!-- <div id="address-key-problem-TEMPLATE" class="bg-">
    <AboutContent
      title="ADDRESS KEY PROBLEM"
      paragraph1="Pain Points to Address- You’re struggling to get [desirable result] because you don't have [missing piece]"
      paragraph2="You have [example], but you aren't [achieving this result]"
      paragraph3="How does this make them feel?"
      paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt accusantindae quo adipisci dignissimos! Pariatur, suscipit exercitationem."
      img="https://images.pexels.com/photos/3585001/pexels-photo-3585001.jpeg?_gl=1*sm8kor*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzQxMzczNTMkbzQyJGcxJHQxNzc0MTM3MzY4JGo0NSRsMCRoMA.."
    />
  </div> -->
<div class="mt-[50px]">
  <div id="new-AIDA" class="text- black 2xl:mt-3 flex justify-center">
    <div id="container" class="p-5 w-1/2 text- my-5">
      <div class="">
        <h1 id="attentionHeading" class="opacity-80 text-5xl md:my-5 my-3">
          {attentionHeading}
        </h1>
        <div class="opacity-70">
          <p id="" class="bg-">
            {interestParagraph}
          </p>
          <p class="py-4">
            {desireParagraph}
          </p>
        </div>
        <button
          id="CTA-btn"
          class="mt-5 bg-primaryBtn text-white opacity-85 hover:opacity-100 sq-styles"
        >
          <a href={CTAbtnLink}>
            {CTAButton}
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
