---
import temp1 from "../images/moon.png";
import temp2 from "../images/moon.png";
import { Image } from "astro:assets";

const templates = [
  {
    id: 1,
    title: "A. Laughing Coyote",
    siteImg: temp1,
    p: "Perfect starter for a business starting out. Voluptates commodi pariatur modi saepe assumenda accu sdam hic? Velit dolore ullam aliquam suscipit.",
    url: "https://template-left-nav-journal-layout-1.vercel.app/",
  },
  {
    id: 2,
    title: "B. The Running Quail",
    siteImg: temp2,
    p: "A three page template with all important things covered. Lorem iaepe assumenda accusamus cupiditate, eum doloribus atque explicabo adipisci consequatur quos quibusdam hic? Velit dolore ullam aliquam suscipit.",
    url: "https://lc-fish-expo-demo.vercel.app/",
  },
  {
    id: 3,
    title: "B. The Running Quail",
    siteImg: temp2,
    p: "A three page template with all important things covered. Lorem iaepe assumenda accusamus cupiditate, eum doloribus atque explicabo adipisci consequatur quos quibusdam hic? Velit dolore ullam aliquam suscipit.",
    url: "https://lc-fish-expo-demo.vercel.app/",
  },
];
---

<!-- -Subscription benefits --><!-- TODO COMPS --><!-- //* 10/3: TEMPLATES ADDED TO PACKAGES -->
<section id="packages-section" class="">
  <div id="section-wrapper" class="p-auto flex justify-center">
    <div id="section-container" class="bg-">
      <div class="2xl:p-5 p-1">
        <h2 class="font-semibold 2xl:text-4xl text-3xl">
          Which website would be best for my business?
        </h2>
        <p class="pt-1 pl-1 pb-5 my-1">
          Sometimes it can be difficult to settle on a design, or page layout.
          Laughing Coyote takes away this dilemna by offering three select
          templates. Each one is customizable.
        </p>
      </div>
      <div id="grid-container" class="2xl:px-5 px-1">
        <div
          id="grid"
          class="bg- grid md:grid-cols-3 grid-cols-1 2xl:gap-16 gap-8"
        >
          {
            templates.map((template) => (
              <div
                id="sq"
                class="rounded text-onyx border border-black bg-lavender"
              >
                <div id="top-bar-container" class="flex pl-3 pt-3">
                  <h2 class="2xl:text-lg text-medium capitalize font-semibold">
                    {template.title}
                  </h2>
                  <a
                    class="hover:opacity-80 hover:ease-in duration-300 text-2xl pl-1"
                    href={template.url}
                  >
                    {/* file open icon*/}
                  </a>
                </div>

                <a
                  class="hover:opacity-80 hover:ease-in duration-300 text-2xl pl-1"
                  href={template.url}
                >
                  <Image
                    class="border-t border-b border-black"
                    src={template.siteImg}
                    alt=""
                  />
                  <h3 class="bg-test2">sfk;ldskfldkf;ldkf;ldskl;fsk;lf;k</h3>
                </a>

                <div id="paragraph-container" class="p-3">
                  <p class="md:text-md text-sm">{template.p}</p>
                </div>
                {/* //todo later: ADD SLUG TO DESCRIBE WEBSITES MORE IN DETAIL v */}
                {/* <div id="bottom-bar-container" class="p-3">
        <div id="sm-container" class="flex">
      <div class="text-parchment bg-onyx py-1 px-2 text-sm">View Template</div>
      </div>
      </div> */}
                {/* //todo later: ADD SLUG TO DESCRIBE WEBSITES MORE IN DETAIL ^ */}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TODO: CB v-->
<!-- 
<div id="package-rates" class="bg-test2">
  <div
    class="mx-auto flex w-full max-w-7xl flex-col items-center px-5 py-16 md:px-10 md:py-24 lg:py-32"
  >
    <h2 class="text-center text-3xl font-bold md:text-5xl">
      Simple &amp; Fixed Pricing
    </h2>
    <p
      class="mx-auto mb-8 mt-4 max-w-lg text-center text-[#636262] md:mb-12 lg:mb-16"
    >
      30 days money-back guarantee
    </p>
    <div
      class="mx-auto mb-8 grid w-full grid-cols-1 gap-4 rounded-md border border-black p-8 md:mb-12 md:grid-cols-2 md:px-12 md:py-16 lg:mb-16 lg:grid-cols-[1fr_0.25fr_1fr] lg:px-20"
    >
      <div class="grid grid-cols-1 gap-8 sm:gap-6">
        <div class="flex flex-col items-center sm:flex-row">
          <div
            class="mr-4 flex h-16 w-16 flex-none flex-col items-center justify-center rounded-full border bg-lavender border-black"
          >
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635a087c4bede0d9ba097dcc_Vector.svg"
              alt=""
            />
          </div>
          <div class="flex w-full flex-col items-center sm:items-start">
            <p class="font-bold">Cloud Storage</p>
            <p class="text-center md:text-start">Up to 100GB for works</p>
          </div>
        </div>
        <div class="flex flex-col items-center sm:flex-row">
          <div
            class="mr-4 flex h-16 w-16 flex-none flex-col items-center justify-center rounded-full border bg-lavender border-black"
          >
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635a087edd287250a11d6098_Vector-1.svg"
              alt=""
            />
          </div>
          <div class="flex w-full flex-col items-center sm:items-start">
            <p class="font-bold">API&nbsp;Access</p>
            <p class="text-center md:text-start">Create anything you want</p>
          </div>
        </div>
        <div class="flex flex-col items-center sm:flex-row">
          <div
            class="mr-4 flex h-16 w-16 flex-none flex-col items-center justify-center rounded-full border bg-lavender border-black"
          >
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635a087de14b8df5878f0dc0_Vector-2.svg"
              alt=""
            />
          </div>
          <div class="flex w-full flex-col items-center sm:items-start">
            <p class="font-bold">Live Chat</p>
            <p class="text-center md:text-start">Connect with your customers</p>
          </div>
        </div>
      </div>
      <div class="mx-auto hidden h-full w-px border-black border-l lg:block">
      </div>
      <div class="grid grid-cols-1 gap-8 sm:gap-6">
        <div class="flex flex-col items-center sm:flex-row">
          <div
            class="mr-4 flex h-16 w-16 flex-none flex-col items-center justify-center rounded-full border bg-lavender border-black"
          >
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635a0881c3f026042fd0f9d6_Group.svg"
              alt=""
            />
          </div>
          <div class="flex w-full flex-col items-center sm:items-start">
            <p class="font-bold">Unlimited user Accounts</p>
            <p class="text-center md:text-start">
              We {"don’t"} limit you create account
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center sm:flex-row">
          <div
            class="mr-4 flex h-16 w-16 flex-none flex-col items-center justify-center rounded-full border bg-lavender border-black"
          >
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635a0885befa0cf7096b80bf_Group-1.svg"
              alt=""
            />
          </div>
          <div class="flex w-full flex-col items-center sm:items-start">
            <p class="font-bold"> Domain</p>
            <p class="text-center md:text-start">Add your own domain</p>
          </div>
        </div>
        <div
          class="justify-centerr flex flex-col items-center sm:flex-row md:justify-start"
        >
          <div
            class="mr-4 flex h-16 w-16 flex-none flex-col items-center justify-center rounded-full border bg-lavender border-black"
          >
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635a0882f3c8a43ed446a42a_Vector.svg"
              alt=""
            />
          </div>
          <div class="flex w-full flex-col items-center sm:items-start">
            <p class="font-bold">Share Information</p>
            <p class="text-center md:text-start">Connect with your customers</p>
          </div>
        </div>
      </div>
    </div>
    Pricing Button
    <h3 class="mb-5 text-2xl md:mb-6 md:text-3xl lg:mb-8">
      <span class="font-bold">$199</span>
      /month or
      <span class="font-bold">$1788</span>
      /yr {"<--$149/mth value!"}
    </h3>
    <a
      href="/#contact"
      class="rounded max-w-[300px] bg-orange mb-5 flex w-full grid-cols-2 flex-row items-center justify-center border-2 border-solid border-black px-8 py-4 text-center font-semibold text-black transition [box-shadow:rgb(0,_0,_0)_-8px_8px] hover:[box-shadow:rgb(0,_0,_0)_0px_0px] md:mb-6 lg:mb-8"
    >
      <div class="mr-6 font-bold">
        <div>Get Started</div>
      </div>
      <div class="h-4 w-4 flex-none">
        <svg
          fill="currentColor"
          viewBox="0 0 20 21"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Arrow Right</title>
          <polygon
            points="16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9"
          ></polygon>
        </svg>
      </div>
    </a>
    <p>30 days money-back guarantee</p>
    <p>limited time: low fee!</p>
</div>
</div> -->
