---
import Footer from "../components/Footer.astro";
// import BackBtn from "../components/BackBtn.astro";
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout>
  <!-- <section class=""> -->
  <div id="website-content" class="pl- dropshadow-3xl mt-3">
    <!--* 1st GALLERY V-->
    <!-- ?what if these gallery imgs lead to other website package cta?? v-->
    <!-- ?what if these gallery imgs lead to other website package cta?? ^-->

    <!-- TODO: AIDA --V -->
    <div id="BannerTitle-wrapper" class="pb-5 mt-[180px] pt-5 pl-5">
      <div id="BannerTitle-section" class="pl-5 ml-5">
        <div id="title-banner" class="">
          <h1 class="2xl:text-5xl md:text-4xl text-3xl pb-2 pt-2 font-semibold">
            {frontmatter.title}
          </h1>
        </div>

        <div id="Banner-paragraph" class="bg- md:mb-5">
          <p class="text-xl pl-2">
            {frontmatter.paragraph}
          </p>
        </div>
      </div>
    </div>
    <!-- TODO: AIDA --^ -->
    <!-- TODO: HOW IT WORKS--V -->

    <!-- * ABOUT HERO V -->
    <section id="about" class="p-[50px] mt-[50px] mb-5 mx-5 bg-">
      <div class="2xl:m-5 2xl:p-5">
        <div class="bg- grid 2xl:grid-cols-4">
          <div id=" " class="2xl:col-span-2 col-span-1 flex">
            <img
              class="bg-onyx py-1 pl-1 pr-2 drop-shadow-md border border-black"
              src={frontmatter.aboutImage.url}
              alt=""
            />
          </div>
          <div id="" class="bg- col-span-2 bg- p-5 2xl:ml-3 mt-[55px] text-lg">
            <div class="bg-carribean text-parchment border border-black p-5">
              <h2 class="text-3xl font-bold">
                {frontmatter.aboutTemplate}
              </h2>
              <p class="pt-2">
                {frontmatter.offers}
              </p>{" "}
              <p class="">
                {frontmatter.brandConcept}
              </p>
            </div>

            <div class="bg- border border-black mt-[50px] p-5">
              <p class="">
                {frontmatter.problemSolve}
              </p>
              <ul>
                <li class="">
                  - {frontmatter.solveListItem1}
                </li>
                <li class="">
                  - {frontmatter.solveListItem2}
                </li>
                <!-- <li class="">
                        - and etc! See
                        <a href="/#services" class="pl-1 underline">
                          services below!</a
                        >
                      </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- TODO: HOW IT WORKS--^ -->
    <!-- TODO: WHATS INCLUDED--V -->

    <!--* PAGES INCLUDED V-->
    <section id="" class="bg- text- border-t-2 border-b-2 border-black mt-5">
      <div id="primary-grid" class="grid 2xl:grid-cols-2 grid-cols-1">
        <div id="sq1" class="border-r-2 border-black bg- p-5">
          <div id="sq-grid" class="grid grid-cols-1">
            <div class="text-right">
              <h3 class="text-2xl font-bold">
                {frontmatter.includedTitle}
              </h3>
              <ul id="included-pages" class="text-md pl-1">
                <li>- {frontmatter.includedPageItem1}</li>
                <li>- {frontmatter.includedPageItem2}</li>
                <li>- {frontmatter.includedPageItem3}</li>
                <li>- {frontmatter.includedPageItem4}</li>
                <li>- {frontmatter.includedPageItem5}</li>
                <li>- {frontmatter.includedPageItem6}</li>
                <li>- {frontmatter.includedPageItem7}</li>
                <li>- {frontmatter.includedPageItem8}</li>
              </ul>
              <p class="pt-2 font-semibold">
                “positioning: Launch your business online quickly with a
                beautiful one-page website.”
              </p>
            </div>
            <!-- ?CB- UNSURE IF NEEDED --V -->
            <!-- <div id="bonus-content-container" class="pt-2">
                    <h3 class="text-2xl font-bold">Bonus content</h3>
                    <ul id="bonus-pages">
                      <li>{frontmatter.bonusPageItem1}</li>
                      <li>{frontmatter.bonusPageItem2}</li>
                      <li>{frontmatter.bonusPageItem3}</li>
                      <li>{frontmatter.bonusPageItem4}</li>
                    </ul>
                  </div> -->
          </div>
        </div>
        <div id="sq2" class="bg-carribean text-parchment p-">
          <img src={frontmatter.imgForPagesOffered} alt="" />
        </div>
      </div>
    </section>
    <!-- TODO: WHATS INCLUDED--^ -->
    <!-- TODO: SOCIAL PROOF--V -->

    <!--* NEW CTA v-->
    <!-- testimonial, link to current business using template-HOVEYROOFING v-->
    <section id="/" class="py-5 mt-5">
      <div id="" class="2xl:pt-[120px] pt-[90px] pb-5 mb-5">
        <div class="grid 2xl:grid-cols-2 grid-cols-1">
          <section class="2xl:px-5 px-1 flex items-center">
            <div class="bg- w-full lg:pl-[70px] mt-5 px-5">
              <div class="py-1 mb-1">
                <h3 class="text-lg text- pt-1 font-medium">client site</h3>
                <h4 class="font-bold text-2xl">
                  {frontmatter.newCtaTitle}
                </h4>
              </div>
              <ul class="space-y-2 md:text-lg text-md pt-1">
                <li>
                  <b>-</b>{frontmatter.newCtaListItem1}
                </li>
                <li>
                  <b>-</b>{frontmatter.newCtaListItem2}
                </li>
                <li>
                  <b>-</b>
                  {frontmatter.newCtaListItem3}
                </li>
                <li>
                  <b>-</b>
                  {frontmatter.newCtaListItem4}
                </li>
              </ul>

              <div class="p-1 mt-5 text-parchment text-lg">
                <!-- 1ST BTN- "SEE PACKAGE" -->
                <button
                  class="dropshadow-lg bg-rosyBrown hover:text-white mr-1 px-2 py-1 dropshadow-md"
                >
                  <a href={frontmatter.clientSiteLink}>see client site</a>
                </button>

                <!-- 2ND BTN- "CONTACT" -->

                <button
                  class="dropshadow-lg bg-carribean hover:text-orange ml-1 px-2 py-1 dropshadow-md"
                >
                  <a href="/#contact">Contact</a>
                </button>
              </div>
            </div>
          </section>

          <section class="pt-[25px]">
            <img
              src={frontmatter.newCTAImg}
              alt=""
              class="border border-black"
            />
          </section>
        </div>
      </div>
    </section>
    <!-- TODO: SOCIAL PROOF--^ -->

    <!-- ! CTA OTHER WEB TEMPLATE OPTIONS- CHANGE TO HOW-IT-WORKS v-->
    <!-- ANSWERS THE QUESTION: WHICH PACKAGE IS RIGHT FOR ME? -->
    <!-- One important improvement
              Instead of selling page counts, sell solutions:
              Example names:
              Package	Position
              Launch:	1-page site
              Growth:	5-page business site
              That framing sells much better. -->
    <section id="wrapper" class="bg- text-right py-5 my-5 pr-3">
      <h4 class="font-semibold pb-1">Explore other Template/ Kit Options...</h4>
      <p>
        Enjoyed reading this case study? Check some other interesting template:
      </p>
      <ul class="">
        <li>
          <a href={frontmatter.otherPgLink1}>
            - {frontmatter.otherPgTitle1}
          </a>
        </li>
        <li>
          <a href={frontmatter.otherPgLink2}>
            - {frontmatter.otherPgTitle2}
          </a>
        </li>
      </ul>
    </section>

    <div id="2nd-gallery" class="bg- pt-1 mt-5 bg-">
      <div
        id="gallery-grid"
        class="mt-5 2xl grid 2xl:grid-cols-3 grid-cols-2 gap-1 py-4"
      >
        <div id="img-1" class="">
          <a href="/">
            <img
              src={frontmatter.EndGalleryImg1}
              alt=""
              class="2xl:h-[250px] 2xl:w-full w-[230px] border border-black"
            />
          </a>
        </div>

        <div id="img-2" class="">
          <a href="/">
            <img
              src={frontmatter.EndGalleryImg2}
              alt=""
              class="2xl:h-[250px] 2xl:w-full w-[230px] border border-black"
            />
          </a>
        </div>
        <div id="img-3" class="">
          <a href="/">
            <img
              src={frontmatter.EndGalleryImg3}
              alt=""
              class="2xl:h-[250px] 2xl:w-full w-[230px] border border-black"
            />
          </a>
        </div>
        <!-- 
              <div id="img-4" class="">
                <a href="/">
                  <img
                    src={frontmatter.EndGalleryImg4}
                    alt=""
                    class="2xl:h-[200px] 2xl:w-full w-[230px] border border-black"
                  />
                </a>
              </div> -->
      </div>
    </div>
    <div class="mt-5 my-5 py-[55px] pt-2 opacity-80 text-lg">
      <div class="">
        <slot />
      </div>
      <div id="new-new-CTA-section" class="p-3">
        <!-- TODO: view cta inspirations V -->
        <h3 class="font-semibold">This is the cta to left panel options:</h3>
        <ul class="">
          <!-- <li><a href="/#how-it-works ">how it works</a></li> -->
          <li>
            <a href="#whats-included-test">WHAT SERVICES ARE included</a>
          </li>
          <li><a href="/#about">about templates, about me</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
      <!-- TODO: view cta inspirations ^ -->

      <!-- <BackBtn /> -->
    </div>
  </div>
  <!-- <Footer /> -->
  <!-- </section> -->
</MainLayout>
